<div class="container recent-installations">
	<!-- if galleries -->
	{{#if galleries}}
		{{#each galleries}}
    <div class="container">
      <h1>{{name}}</h1>
      <p>{{description}}</p>
    </div>
		<div class="gallery-wrapper">
      {{#each images}}
      <div class="thumbnail-wrapper">
        <a href="{{cloudinaryUrl width='800' height='800'}}" data-lightbox="installations">
          <img src="{{cloudinaryUrl width='150' height='150'}}" alt="Hunter Slimline 8kw double door">
        </a>
      </div>
      {{/each}}
		</div>
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">There are no image galleries yet.</h3>
	{{/if}}
</div>
